.layout-sidebar {
    background: transparent;
    height: auto;
    padding-left: 10px;
    width: 6rem !important;
}

.layout-menu-container {
    display: block !important;
}

.layout-sidebar .layout-menu-container {
    padding: unset;
}

.layout-menu:first-child .menu-item {
}

.layout-menu:last-child .menu-item {
}

.menu-text {
    display: block;
    position: absolute;
    right: -80px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    color: #000;
    top: 20px;
}

.menu-item.active .menu-text {
    display: block;
}

.menu-item {
    padding: 1.5rem 1rem;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: bold;
    position: relative;
}

.menu-item .fas {
    margin-bottom: 10px;
    font-size: 26px;
}

.menu-item:hover {
    background: var(--color-card-arrow-background);
}

.menu-item.active {
    background: var(--color-primary);
    color: var(--color-light);
}


.layout-menu-container.white .menu-item.active {
    background: var(--color-primary);
    color: var(--color-dark);
}


.layout-menu-container.white .menu-item i {
    color: var(--color-dark);
}


.layout-menu-container.white .menu-text {
    color: var(--color-dark);
}

.layout-sidebar.white{
    box-shadow: unset;
}
